weather/node_modules/
weather/.expo/
weather/dist/
weather/npm-debug.*
weather/*.jks
weather/*.p8
weather/*.p12
weather/*.key
weather/*.mobileprovision
weather/*.orig.*
weather/web-build/

# macOS
weather/.DS_Store
weather/env.js

toDoList/.metro-health-check*
toDoList/node_modules/
toDoList/.expo/
toDoList/dist/
toDoList/npm-debug.*
toDoList/*.jks
toDoList/*.p8
toDoList/*.p12
toDoList/*.key
toDoList/*.mobileprovision
toDoList/*.orig.*
toDoList/web-build/
toDoList/.DS_Store
toDoList/.metro-health-check*

albaManager/.metro-health-check*
albaManager/node_modules/
albaManager/.expo/
albaManager/dist/
albaManager/npm-debug.*
albaManager/*.jks
albaManager/*.p8
albaManager/*.p12
albaManager/*.key
albaManager/*.mobileprovision
albaManager/*.orig.*
albaManager/web-build/
albaManager/.DS_Store
albaManager/.metro-health-check*


